/* 
    ! ================================================================================================================================================
    !                                                             APP CSS
    ! ================================================================================================================================================    
    @author Ramón Dario Rozo Torres (20 de Junio de 2024)
    @lastModified Ramón Dario Rozo Torres (20 de Junio de 2024)
    @version 1.0.0
    frontend/v1/assets/css/app.css
*/

/* ! ESTILOS GLOBLAES */
/* * NOTIFICACIONES */
/* Estilo del contenedor de notificaciones */
#controlNotificaciones {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    max-width: 400px;
    width: 100%;
    margin-right: 0px;
}

/* Contenedor de notificaciones */
.notificaciones-header {
    display: flex;
    align-items: flex-start;
}

/* Estilo de la imagen */
#logo_sistemaNotificaciones {
    height: 6dvh;
    margin-left: 3px;
    margin-right: 1px;
}

/* Contenedor para el título y el mensaje */
#notificaciones-titulo, #notificaciones-mensaje {
    display: block;
    max-width: 100%;
    color: rgb(255, 255, 255) !important;
}

/* Alineación del texto (título y mensaje) al lado derecho de la imagen */
.notificaciones-texto {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
}

/* Estilo del titulo */
#notificaciones-titulo {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 1px;
}

/* Estilo del mensaje */
#notificaciones-mensaje {
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: 100%;
}

/* ! NAV */
/* * MENU TRANSVERSAL */
/* logo */
#logo_sistema_sm {
    height: 3dvh;
}
/* color de fondo */
#nav-bar {
    top: 0;
    background: white !important;
    box-shadow: 0 6px 20px 0 rgba(212, 211, 211, 0.5) !important;
}
/* color de texto */
.navbar-full .brand-sidebar .logo-wrapper a.navbar-toggler i {
    color: #000 !important;
}
/* color de iconos */
.navbar-main .nav-wrapper ul li a {
    color: #000 !important;
}
/* color de iconos */
.navbar-main .nav-wrapper ul li a i {
    color: #000 !important;
}
/* color de iconos */
.dropdown-content li a {
    color: #000 !important;
}
/* color de iconos */
.dropdown-content li a i {
    color: #000 !important;
}
/* notificaciones */
.navbar .notification-badge {
    background-color: #f80404 !important;
    box-shadow: 0 0 10px 0 #f80404;
}


/* ! ASIDE */
/* * MENU IZQUIERDO */
/* titulos */
ul:not(.browser-default) > li {
    list-style-type: none;
    color: #000;
}
/* fondo */
#brand-sidebar {
    background: white !important;   
}
/* texto */
#brand-sidebar .logo-text {
    color: #000;
}
/* opcion activa */
.sidenav li a.active {
    background: -webkit-linear-gradient(45deg, #fff, #fff)!important;
    background:         linear-gradient(45deg, #fff, #fff)!important;
    box-shadow: 3px 3px 20px 0 rgba(1, 247, 226, 0.5);
    color: #000 !important;
}
.sidenav li a.active i {
    color: #000 !important;
}

/* ! CONTENIDO PAGUINA */
/* * RUTA PAGINA */
.breadcrumb-link {
    color: #000 !important;
}
/* * MAIN */
#main {
    padding-bottom: 78px;
}
/* * TARJETA CONTENEDOR */
.card {
    margin: 2px !important;
}
.card .card-content {
    padding: 10px !important;
}
/* * TEXTO CONTROL VISUAL */
.invalid-feedback {
    color: #ff0000 !important;
    text-align: left !important;
}

/* ! ASIDE */
/* * MENU DERECHO */
#menuDerechoAvatar {
    margin-top: 21px;
    height: 80px;
}
.tabs .indicator {
    background-color: cyan !important;
}
#menuDerechoNombre {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
}
/* Modificaciones para el cargo */
#menuDerechoCargo {
    text-transform: capitalize;
    margin-top: -6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: auto;
}
#menuDerechoCargo small {
    font-size: 1rem;
}
#menuDerechoCargo i {
    font-size: 1rem;
    margin-right: 0px;
}
/* Modificaciones para el permiso */
#menuDerechoPermiso {
    text-transform: capitalize;
    margin-top: -2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#menuDerechoPermiso small {
    font-size: 0.8rem;
}
#menuDerechoPermiso i {
    font-size: 0.8rem;
    margin-right: 0px;
}

/* ! FOOTER */
/* * PIE DE PAGINA */
#footer {
    z-index: 1000;
    width: 100%;
    background: white !important;
    position: fixed;
    bottom: 0;
    box-shadow: 0 -6px 20px 0 rgba(212, 211, 211, 0.5) !important;
}
/* texto */
#footer .footer-copyright span {
    color: #000;
}
@media only screen and (max-width: 320px) {
    #main {
      height: 100vh;
      padding: 0;
      overflow: hidden;
    }
  
    #conversacion {
      flex-grow: 1;
      overflow-y: auto;
      padding: 0.5rem;
    }
  
    #contentFormTexto,
    #contentAdjuntos {
      padding: 0.5rem;
    }
  
    textarea#txt_mensaje {
      font-size: 14px;
      min-height: 80px;
    }
  
    button {
      width: 100%;
      font-size: 14px;
    }
  
    .material-icons {
      font-size: 20px;
    }
  }
  