{{!-- ! ================================================================================================================================================ --}}
{{!-- !                                                            VISTA MONITOR CHATS                                                                    --}}
{{!-- ! ================================================================================================================================================ --}}
{{!-- @author Ramón Dario Rozo Torres (14 de Marzo de 2025) --}}
{{!-- @lastModified Ramón Dario Rozo Torres (14 de Marzo de 2025) --}}
{{!-- @version 1.0.0 --}}
{{!-- v1/views/widget/monitor.hbs --}}

{{!-- ! HBS --}}
<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">

{{!-- * HEAD --}}
<head>
    {{!-- todo: metadatos --}}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Sistema de WhatsApp no oficial">
    <meta name="keywords" content="Sistema, WhatsApp, no oficial">
    <meta name="author" content="Ramón Dario Rozo Torres">

    {{!-- todo: title --}}
    <title> Monitor Chats</title>

    {{!-- todo: favicon --}}
    <link rel="apple-touch-icon" href="/images/imagen-corporativa/favicon.png">
    <link rel="shortcut icon" type="image/x-icon" href="/images/imagen-corporativa/favicon.png">

    {{!-- todo: icons --}}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
     {{!-- todo: css --}}
    <link rel="stylesheet" type="text/css" href="/css/vendors.min.css">

    {{!-- todo: plugins css --}}
    <link href="/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css">
    <link href="/libs/select2/select2.min.css" rel="stylesheet"  type="text/css">
    <link href="/libs/select2/select2-materialize.css" rel="stylesheet"  type="text/css">
    <link href="/libs/datatables/dataTables.bootstrap4.css" rel="stylesheet" type="text/css" />
    <link href="/libs/datatables/responsive.bootstrap4.css" rel="stylesheet" type="text/css" />
    <link href="/libs/datatables/buttons.bootstrap4.css" rel="stylesheet" type="text/css" />
    <link href="/libs/datatables/select.bootstrap4.css" rel="stylesheet" type="text/css" />
    
    {{!-- todo: materialize css --}}
    <link rel="stylesheet" type="text/css" href="/css/materialize.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    {{!-- todo: customer styles --}}
    <link rel="stylesheet" type="text/css" href="/css/app.css">
    <link rel="stylesheet" type="text/css" href="/css/widget/monitor.css">
</head>

{{!-- * BODY --}}
<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-menu-nav-dark preload-transitions 2-columns" data-open="click" data-menu="vertical-menu-nav-dark" data-col="2-columns">

    {{!-- todo: control notificaciones --}}
    <div id="controlNotificaciones" class="controlNotificaciones">
        {{!-- Contenido de notificaciones --}}
    </div>
    
    {{!-- todo: partial menu transversal --}}
    {{!-- {{> menu_transversal}} --}}

    {{!-- todo: partial menu izquierdo --}}
    {{!-- {{> menu_izquierdo}} --}}

    {{!-- todo: row --}}
    <div class="row">
        {{!-- todo: breadcrumbs --}}
        <div class="breadcrumbs-inline pt-1 pb-1" id="breadcrumbs-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col s10 m6 l6 breadcrumbs-left">
                        <h5 class="breadcrumbs-title mt-0 mb-0 display-inline hide-on-small-and-down"><span><i class="material-icons black-text" style="vertical-align: middle;">chat</i></span></h5>
                        <ol class="breadcrumbs mb-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);" onclick="location.reload();" class="breadcrumb-link">Widget Corporativo</a></li>
                            <li class="breadcrumb-item"><a href="javascript: void(0);" onclick="location.reload();" class="breadcrumb-link">Chat Web</a></li>
                            <li class="breadcrumb-item active">Monitor Chats</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        {{!-- todo: contenido --}}
        <div class="col s12">
            <div class="container">
                {{!-- todo: sección --}}
                <section class="section">
                    <div class="card">
                        <div class="card-content">
                            {{!-- todo: Título del formulario --}}
                            <center><h5 class="header-title mb-1"><i class="material-icons black-text" style="position: relative; top: 3.5px;">format_list_numbered</i> Listar Chats</h5></center>

                            {{!-- todo: Contenido del formulario --}}
                            <div id="content_form">
                                {{!-- todo: Contadores --}}
                                <div id="card-stats" class="pt-0 mt-1">
                                    <div class="row">
                                        <div class="col s12 m12 l4 xl4">
                                            <div class="card gradient-45deg-light-blue-cyan gradient-shadow min-height-100 white-text animate fadeLeft">
                                                <div class="padding-4">
                                                    <div class="row">
                                                        <div class="col s4 m4">
                                                            <i class="material-icons background-round mt-5">star</i>
                                                        </div>
                                                        <div class="col s8 m8 right-align">
                                                            <h5 id="total_registros" class="mb-0 white-text">0</h5>
                                                            <p class="no-margin">Total Registros</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col s12 m12 l4 xl4">
                                            <div class="card gradient-45deg-green-teal gradient-shadow min-height-100 white-text animate fadeRight">
                                                <div class="padding-4">
                                                    <div class="row">
                                                        <div class="col s4 m4">
                                                            <i class="material-icons background-round mt-5">check</i>
                                                        </div>
                                                        <div class="col s8 m8 right-align">
                                                            <h5 id="total_success" class="mb-0 white-text">0</h5>
                                                            <p class="no-margin">Success</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col s12 m12 l4 xl4">
                                            <div class="card gradient-45deg-red-pink gradient-shadow min-height-100 white-text animate fadeLeft">
                                                <div class="padding-4">
                                                    <div class="row">
                                                        <div class="col s4 m4">
                                                            <i class="material-icons background-round mt-5">block</i>
                                                        </div>
                                                        <div class="col s8 m8 right-align">
                                                            <h5 id="total_error" class="mb-0 white-text">0</h5>
                                                            <p class="no-margin">Error</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                {{!-- todo: Filtros --}}
                                <div id="div_filtros" class="mb-2 mt-1">
                                    <div class="row">
                                        {{!-- todo: fecha inicial --}}
                                        <div class="input-field col s12 m6 l4">
                                            <input type="text" name="txt_fechaInicial" id="txt_fechaInicial" maxlength="44" data-length="44" class="campo-formulario datepicker" onclick="valida_txt_fechaInicial();" onchange="valida_txt_fechaInicial();" autocomplete="off">
                                            <label for="txt_fechaInicial">Fecha Inicial</label>
                                            <div class="invalid-feedback">
                                            </div>                                                   
                                        </div>

                                        {{!-- todo: fecha final --}}
                                        <div class="input-field col s12 m6 l4">
                                            <input type="text" name="txt_fechaFinal" id="txt_fechaFinal" maxlength="44" data-length="44" class="campo-formulario datepicker" onclick="valida_txt_fechaFinal();" onchange="valida_txt_fechaFinal();" autocomplete="off">
                                            <label for="txt_fechaFinal">Fecha Final</label>
                                            <div class="invalid-feedback">
                                            </div>                                                   
                                        </div>

                                        {{!-- todo: Control Arbol --}}
                                        <div class="input-field col s12 m6 l4">
                                            <select name="txt_controlApi" id="txt_controlApi" maxlength="44" data-length="44" class="campo-formulario select2 browser-default" autocomplete="off">
                                                <option value=""></option>
                                                <option value="*">Todos</option>
                                            </select>
                                            <label for="txt_controlApi" class="select2-label">Control Api</label>
                                            <div class="invalid-feedback">
                                            </div>
                                        </div>
                                    </div>

                                    {{!-- todo Botón Buscar --}}
                                    <div class="center">
                                        <button id="btn_Buscar" class="btn waves-effect waves-light blue darken-1 mt-0">
                                            <i class="material-icons left">search</i>Buscar
                                        </button>
                                    </div>
                                </div>

                                {{!-- todo: tabla --}}
                                <div class="row">
                                    <div class="col s12">
                                        <table id="tablaMonitorChats" class="display responsive nowrap highlight" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>N°</th>
                                                    <th>FECHA REGISTRO</th>
                                                    <th>TIPO</th>
                                                    <th>REMITENTE</th>
                                                    <th>ESTADO</th>
                                                    <th>GESTIÓN</th>
                                                    <th>ARBOL</th>
                                                    <th>API</th>
                                                    <th>PETICIONES</th>
                                                    <th>RESULTADO API</th>
                                                    <th>NOMBRE</th>
                                                    <th>APELLIDOS</th>
                                                    <th>NUMERO CEDULA</th>
                                                    <th>PAIS RESIDENCIA</th>
                                                    <th>CIUDAD RESIDENCIA</th>
                                                    <th>INDICATIVO PAIS</th>
                                                    <th>NUMERO CELULAR</th>
                                                    <th>CORREO ELECTRONICO</th>
                                                    <th>AUTORIZACION DATOS PERSONALES</th>
                                                    <th>ADJUNTOS</th>
                                                    <th>RUTA ADJUNTOS</th>
                                                    <th>DESCRIPCIÓN</th>
                                                    <th>REGISTRO</th>
                                                    <th>ACTUALIZACIÓN</th>
                                                    <th>RESPONSABLE</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                {{!--? Contenido de la tabla --}}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            {{!-- todo: Preloader (escondido por defecto) --}}
                            <div id="content_preload" class="hide">
                                {{!-- Contenido del preloader --}}
                            </div>
                        </div>
                    </div>
                </section>
                
                {{!-- todo: partial menu derecho --}}
                {{!-- {{> menu_derecho}} --}}
            </div>
            <div class="content-overlay"></div>
        </div>
    </div>

    {{!-- todo: footer --}}
    {{!-- {{> footer}} --}}

    {{!-- todo: js --}}
    <script src="/js/vendors.min.js"></script>

    {{!-- todo: plugins js --}}
    <script src="/libs/sweetalert2/sweetalert2.min.js"></script>
    <script src="/libs/select2/select2.full.min.js"></script>
    <script src="/libs/select2/select2-materialize.js"></script>
    <script src="/libs/select2/select2Esp.js"></script>
    <script src="/libs/datatables/jquery.dataTables.min.js"></script>
    <script src="/libs/datatables/dataTables.bootstrap4.js"></script>
    <script src="/libs/datatables/dataTables.responsive.min.js"></script>
    <script src="/libs/datatables/responsive.bootstrap4.min.js"></script>
    <script src="/libs/datatables/dataTables.buttons.min.js"></script>
    <script src="/libs/datatables/buttons.bootstrap4.min.js"></script>
    <script src="/libs/datatables/buttons.html5.min.js"></script>
    <script src="/libs/datatables/buttons.flash.min.js"></script>
    <script src="/libs/datatables/buttons.print.min.js"></script>
    <script src="/libs/datatables/dataTables.keyTable.min.js"></script>
    <script src="/libs/datatables/dataTables.select.min.js"></script>
    <script src="/libs/datatables/jszip.min.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/search.js"></script>

    {{!-- todo: customer scripts --}}
    <script src="/js/app.js"></script>
    <script src="/js/widget/monitor.js"></script>
</body>

</html>